@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;800&display=swap');

* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
    list-style: none;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Kumbh Sans', sans-serif ;
}

html,
body {
    overflow-x: hidden;
    height: 100vh ;
    width: 100vw ;
    font-size: 16px ;
    background-color: white;
}

textarea:focus, 
input:focus {
    box-shadow: 0 0 0 0 ;
    outline: 0 ;
}

input[ type=number ]::-webkit-inner-spin-button {
    -webkit-appearance: none ;
}

input[ type=number ] {
    -moz-appearance: textfield ;
    appearance: texfield ;
}

header {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.logo {
    height: 20px;
    width: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
    margin-right: 30vw;
}

.menu a:hover {
    padding-bottom: 35px;
    border-bottom: 5px solid  hsl(26, 100%, 55%);
}

.profil {
    height: 50px;
    margin-left: 20px;
    width: auto;
}

.profil:hover {
    border-radius: 50%;
    border: 2px solid  hsl(26, 100%, 55%);
    cursor: pointer;
}

.car {
    height: 20px;
    width: auto;
    cursor: pointer;
}

main {
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70vw;
    gap: 50px;
}

.container_img_production {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 30px;
}

.container_img_production h2 {
    display: none;
}

.product_img {
    border-radius: 15px;
    cursor: pointer;
}

.container_thumbnail_img {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.container_thumbnail_img li {
    width: 25%;
    height: auto;
    border-radius: 10px;
}

.container_thumbnail_img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.container_infor_production {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 60%;
    gap: 20px;
}

.subtitle {
    color: hsl(26, 100%, 55%);
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.title_Infor_poduction {
    font-size: 3em;
    color: hsl(0, 0%, 0%);
}

.text_infor_production {
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 30px;
}

.price_production {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    gap: 10px 0px;
}

.price_current {
    font-size: 1.5em;
    color: hsl(0, 0%, 0%);
} 

.discount {
    background-color: hsl(25, 100%, 94%);
    padding: 5px;
    color: hsl(26, 100%, 55%);
}

.price_old {
    text-decoration: line-through;
}

.Add_production {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.input_Add {
    border: none;
    outline: none;
    width: 40%;
    text-align: center;
    margin-left: -20px;
    background-color: hsl(223, 64%, 98%);
}

.boy_btn {
    border: none;
    outline: none;
    color: white;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    width: 60%;
    cursor: pointer;
}

.Add_ninus {
    width: 20px;
    height: 5px;
    position: relative;
    top: 22px;
    left: 1%;
    cursor: pointer;
}

.Add_plus {
    width: 20px;
    height: 20px;
    position: relative;
    right: 5%;
    top: 15px;
    cursor: pointer;
}

.container_thumbnail_div_selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.789);
    width: 100%;
    height: 100vh;;
    z-index: 2;
    gap: 20px;
}

.container_next_pre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 39%;
    height: min-content; 
}

.closed {
    padding: 2px;
    height: 20px;
    width: 20px;
    position: relative;
    left: calc(17.5% - 10px);
    cursor: pointer;
    transform: scale(1.8);
}

.closed path:hover {
    fill: rgb(255, 125, 26);
}

.next,
.preve{
    transform: scale(1.5);
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    border-radius: 100%;
    background-color: white;
}

.preve {
    padding-left: 6px;
}

.next {
    padding-left: 9px;
}

.next path,
.preve path{
    font-size: 2em;
    fill: white;
    stroke: rgb(0, 0, 0);
    z-index: 2;
}

.next path:hover,
.preve path:hover {
    fill: white;
    stroke: rgb(255, 125, 26);
}

.product_img_selected {
    height: auto;
    max-height: 75vh;
    max-width: 40%;
    width: 35%;
    border-radius: 20px
}

.container_thumbnail_img_selected {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

.container_thumbnail_img_selected li {
    cursor: pointer;
    width: 20%;
    background-color: white;
    border-radius: 10px;
}

.container_thumbnail_img_selected img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.container_thumbnail_img_selected li img:hover{
    opacity: 50%;
}


.tumble_selected {
    border: 2px solid rgb(255, 125, 26);
}

.tumble_selected img {
    opacity: 25%;
}

.hider_div {
    display: none;
}

.card_container {
    padding: 15px 0px;
    width: 300px;
    height: 210px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.264);
    border-radius: 10px;
    position: fixed;
    top: 80px;
    right: 10vw;
}

.card_select {
    border: none;
    outline: none;
    width: 100%;
    height: 100px;
}

.card_select .option {
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
}

.option img {
    width: 50px;
    height: auto;
}

.option p {
    width: 150px;
    font-size: .5em;
    height: auto;
}

.option i {
    background:  url(../images/icon-delete.svg) center center no-repeat;
    width: 10%;
    height: auto;
}

.card_container h2 {
    color: hsl(220, 13%, 13%);
    padding-left: 25px;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid hsl(220, 14%, 75%);
}

.card_container button {
    cursor: pointer;
    height: 40px;
    width: 80%;
    color: white;
    background-color: hsl(26, 100%, 55%);
    text-align: center;
    margin-left: 10%;
    border-radius: 5px;
    border: none;
}

.hider_cart {
    display: none;
}